p{
	color: red;
}

span{
	color: cyan;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 2px 2px black;
}

span:hover {
  background-color: blue;
  cursor: pointer;
}

.bye{
	color: cyan;
}

.bold{
	color: red;
	text-decoration: underline;
}

.great{
	font-style: italic;
}

.italic{
	font-style: italic;
}

     